html, body
{
  width: 100%;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden; 
  text-align: center;
  font-family: monospace;
  color: #333;
}

h1 {
  margin: 1em;
}

p {
  font-size: 1em; 
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 50em;
}

img {
  width: 100%;
}

.btn {
  font-family: monospace;
  border: 0.2ex solid #ccc;
  display: inline-flexbox;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #333;
}

.not-visible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
